
*,
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.categorias-contenedor{
    display: flex;
    height: 98vh;
}
.categorias-contenedor aside{
    overflow-y: scroll;
    width: 500px;
    margin-right: 20px;
}
.categorias-contenedor aside::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.categorias-contenedor aside::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.categorias-contenedor aside::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.categorias-contenedor aside::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.categoria{
    position: relative;
    margin-bottom: 10px;
}
.categoria h1 {
    position: absolute;
    width: auto;
    color: white;
    top: 3px;
    left: 3px;
}
.categoria img {
    width: 200px;
    height: auto;
}
.categoria-foto {
    margin-bottom: 40px;
}
.categoria-foto img {
    display: block;
    margin: 0 auto;
}
.categoria-foto p{
    padding: 0 20px;
    margin-top: 15px;
    text-align: center;
}

.categoria-foto__contenedor{
    overflow-y: scroll;
}

