/* navegacion */

.navegacion {
  -webkit-box-shadow: 0px 3px 19px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 19px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 19px -4px rgba(0,0,0,0.75);
  background: black;
  color: white;
  text-align: center;
  height: 80px;
  line-height: 80px;

}
.miguehp{text-underline-position: under; text-decoration: underline;}
a{text-decoration: none;}

.nav-bar__fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 60px;
  line-height: 60px;
}

.navegacion-text{
  position: relative;
  overflow: hidden;
}
.navegacion-text a{
  cursor: pointer;
  /* position: absolute; */
  top: 0;
  color: #dcdcdc;
  right: 20px;
  transition-duration: 2000ms;
  font-weight: lighter;
}

.navegacion-text p{
  position: absolute;
  top: 60px;
  color: #dcdcdc;
  right: 20px;
 transition-duration: 2000ms;
 font-weight: lighter;
}

.navegacion-text:hover>a{
 top: -60px;
 transition-duration: 2000ms;
}

.navegacion-text:hover>p{
 top: 0px;
 transition-duration: 2000ms;
}

footer{
  height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #121212;
    margin-top: 70px;
    position: relative;
    font-size: 0.8rem;
}
