.miguehp{text-underline-position: under; text-decoration: underline;}
a{text-decoration: none;}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* navegacion */

.navegacion {
  -webkit-box-shadow: 0px 3px 19px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 19px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 19px -4px rgba(0,0,0,0.75);
  background: black;
  color: white;
  text-align: center;
  height: 80px;
  line-height: 80px;

}

.nav-bar__fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 60px;
  line-height: 60px;
}

.navegacion-text{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60px;
}
.navegacion-text a{
  cursor: pointer;
  /* position: absolute; */
  top: 0;
  color: #dcdcdc;
  right: 20px;
  transition-duration: 2000ms;
  font-weight: lighter;
}


.navegacion-text p{
  position: absolute;
  top: 60px;
  color: #dcdcdc;
  right: 20px;
 transition-duration: 2000ms;
 font-weight: lighter;
}

.navegacion-text:hover>a{
 top: -60px;
 transition-duration: 2000ms;
}

.navegacion-text:hover>p{
 top: 0px;
 transition-duration: 2000ms;
}

@media  (max-width: 721px)  {
  .navegacion-text>h2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition-duration: 2000ms;
  }
  .navegacion-text:hover>h2{
    top: -60px;
    position: absolute;
    transition-duration: 2000ms;
  }

}


footer{
  height: 60;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #121212;
  margin-top: 15px;
  position: relative;
  font-size: 0.8rem;
}

/* SVG */
.loader-container{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 6;
}
svg {
  overflow: visible;
  width: 100px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
svg g {
  animation: slide 2s linear infinite;
}
svg g:nth-child(2) {
  animation-delay: 0.5s;
}
svg g:nth-child(2) path {
  animation-delay: 0.5s;
  stroke-dasharray: 0px 158px;
  stroke-dashoffset: 1px;
}
svg path {
  stroke: url(#gradient);
  stroke-width: 20px;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 0 157px;
  stroke-dashoffset: 0;
  animation: escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@keyframes slide {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}
@keyframes escalade {
  0% {
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 156px 157px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 156px 157px;
    stroke-dashoffset: -156px;
  }
}

/* SVG end */

.opabody {
  background: black;
  animation: 0.7s Fadebody forwards;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes Fadebody {
  0% {
    opacity: 0;
    background-color: black
  }
  50% {
    opacity: 0;
    background-color: black
  }
  100% {
    opacity: 1;
    background-color: white
  }
}
