
*,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



.background-container {
  height: 100vh;
  width: 100%;
  color: #444;
}

.text-container {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  text-align: center;
  background: #00000038;
}
.button-container-left {
  grid-column: 1;
  grid-row: 2;
}
.button-container-right {
  grid-column: 2;
  grid-row: 2;
}

.main-title-container {
  display: table-cell;
  vertical-align: middle;
  box-shadow: 5px 0px 7px 3px black;
}

h1#bg-main-title {
  font-size: calc(3vw + 3.2vh);
  color: white;
  font-weight: 400;
}

#bg-description {
  font-size: calc(0.5vw + 2vh);
  color: white;
}

/* Button */

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
   a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}
 /* ACA TERMINA EL BOTON */


 /* --------ICON--------- */
 .text-container a span {
    position: absolute;
    bottom: 54px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-animation: sdb06 2.5s infinite;
    animation: sdb06 2.5s infinite;
    box-sizing: border-box;
  }

  @-webkit-keyframes sdb06 {
    0% {
      -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb06 {
    0% {
      transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

 /* ----CIERRE ICON ----- */


 /* category separate */

 .entoncesqpa{
     text-align: center;
     padding: 45px;
 }
 .entoncesqpa p::after{
    content: '';
    display: block;
    width: 100px;
    border-top: #8a8a8a 2px solid;
    top: 4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: inherit;

}
.entoncesqpa p {
    margin-top: 10px;
    padding: 7px;
    position: relative;
}
 /* category section  */


 #categories-container {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    padding: 0 20px;
    height: 100%;
    color: #4c4c4c;
 }

 .categories-container__item{
    width: 100%;
    cursor: pointer;
    grid-row: 1;

 }
 .selected {
   background: #e8e5e5;
 }

 @media only screen and (max-width: 970px) {
   #categories-container {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      text-align: center;
      padding: 0 4vw;
      height: 100%;
      color: #4c4c4c;
   }

   /* #categories_container--btn {
     cursor: pointer;
     color: #fff;
     text-align: center;
     position: relative;
     overflow: hidden;
     -webkit-box-shadow: 3px 4px 18px -1px rgba(0,0,0,0.75);
     -moz-box-shadow: 3px 4px 18px -1px rgba(0,0,0,0.75);
     box-shadow: 3px 4px 18px -1px rgba(0,0,0,0.75);
     border-radius: 5px;
     height: 91vw;
   } */
 }



.bottom-animated-bar{
  position: relative;
}
 .bottom-animated-bar::after{
  content: '';
  display: block;
  width: 100%;
  border-top: #8a8a8a 2px solid;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;

 }

 .categories-menu{
  display: grid;
  grid-gap: 10px;
  justify-content: space-around;
  border-top: 4px solid #e8e5e5;
  margin-bottom: 31px;
  padding-top: 8px;
  margin-left: 20PX;
  margin-right: 20px;
 }
 .categories-menu__items{
   grid-row: 1;
   color: #4c4c4c;
 }


 .wrapper {
  display: grid;
  grid-gap: 10px;
  margin: 0 160px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


.a {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column: 1;
}
.b {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
}
.c {
  grid-column: 2;
  grid-row: col 2 / span 3;
}
.d {

  grid-row-start: 1;
  grid-row-end: 5;
}

.f {
  grid-row: col 3 / span 3;
  grid-column: column 2  ;
  background-color: rgba(49,121,207, 0.5);
  z-index: 20;
}

  /* navegacion */

  .navegacion {
    -webkit-box-shadow: 0px 3px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 19px -4px rgba(0,0,0,0.75);
    background: black;
    color: white;
    text-align: center;
    height: 80px;
    line-height: 80px;

  }

  .nav-bar__fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 60px;
    line-height: 60px;
  }

  .navegacion-text{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60px;
  }
  .navegacion-text a{
    cursor: pointer;
    /* position: absolute; */
    top: 0;
    color: #dcdcdc;
    right: 20px;
    transition-duration: 2000ms;
    font-weight: lighter;
  }


  .navegacion-text p{
    position: absolute;
    top: 60px;
    color: #dcdcdc;
    right: 20px;
   transition-duration: 2000ms;
   font-weight: lighter;
  }

  .navegacion-text:hover>a{
   top: -60px;
   transition-duration: 2000ms;
  }

  .navegacion-text:hover>p{
   top: 0px;
   transition-duration: 2000ms;
  }

  @media  (max-width: 721px)  {
    .navegacion-text>h2{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition-duration: 2000ms;
    }
    .navegacion-text:hover>h2{
      top: -60px;
      position: absolute;
      transition-duration: 2000ms;
    }

  }


  footer{
    height: 60px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #121212;
      position: relative;
      font-size: 0.8rem;
  }


.close:hover,
.close:focus {
  box-shadow: inset -8.5em 0 0 0 var(--hover), inset 8.5em 0 0 0 var(--hover);
  cursor: pointer;
}

.close {
  --color: rgb(77, 77, 77);
  --hover: #000;
}

button {
  color: var(--color);
  transition: 1.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}


code {
  color: #e4cb58;
  font: inherit;
}

/*  IMAGES ANIMATION */
.photo{
  position: relative;
}

.photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,.1);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img{
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);

}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
  padding: 2px;
}


.hidden-animation .categories-menu__items{
  animation-name: myAnimation;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
.hidden{
  display: none;
}
.show{
  display: grid;
}

@keyframes myAnimation{
  0%{
    opacity: 1;
    transform: skew(-0.02turn, 10deg);
  }
  50%{
    opacity: 0.5;
    transform: skew(0);
  }
  100%{
    display: none !important;
    opacity: 0;
    transform: skew(-0.02turn, 10deg);
  }
}



.categories_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: 80vh;
  grid-gap: 7px;
  height: 100%;

}

.categories_container--btn{
  cursor: pointer;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 3px 4px 18px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 18px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 18px -1px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.categories_container--btn>h1{
  line-height: 70vh;
}
.hover_content{
  filter: blur(4px);
  -webkit-filter: blur(4px);
  background: url("https://gdurl.com/nnQY");
  background-position: center;
  background-size: cover;
  height: 70vh;
  transition: all 3s ease;
}

.hover_content img {
  display: block;
  width: 100%;
  height: auto;
}

.categories_container--btn .title{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}
.categories_container--btn:hover>.hover_content{
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transform: scale(1.15);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.categories_container--btn:nth-child(2)>.title{
  background: rgba(0,0,0,0.3)
}

.background_video{
  height: 70vh;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  transform: scale(2);
  transition: all 3s ease;

}

.categories_container--btn:hover>.background_video{
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transform: scale(2.3);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.categories_container--btn:nth-child(2):hover>.title{
  background: rgba(0,0,0,0);
  transition-duration: 3000ms;
}



@media screen and (max-width: 559px){

  }
  .thumbnail {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

.simpleParallax{
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  bottom: 0;
  left: 0;
  z-index: -1;
  right: 0;
}
.parallax{
  background-color: #000;
}
.parallax__container{
  background-color: #000;
}
.parallax-main-containt{
  position: relative;
  padding-bottom: 80px;
}


.animate-txt{
  display: inline-block;
  animation: fadeIn 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.animate-txt > .first {
  display: inline-block;
  animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  font-weight: bolder;
  position: relative;
  font-style: italic;
  text-shadow: 6px 6px #171717;

}

.animate-txt > .oh {
  display: inline-flex;
  overflow: hidden;
}

.animate-txt .second {
  animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  font-weight: 100;
  z-index: -1;
  display: inline-block;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 6px 6px #171717;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  40% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes firstSpan {
  0% {
    transform: translateX(50%);
  }
  10  % {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes secondSpan {
  0% {
    transform: translateX(-110%);
    font-size: calc(1vw + 2vh);
  }
  70% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    font-size: calc(3vw + 3.2vh);

  }
}

/* SVG */
.loader-container{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 6;
}
svg {
  overflow: visible;
  width: 100px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
svg g {
  animation: slide 2s linear infinite;
}
svg g:nth-child(2) {
  animation-delay: 0.5s;
}
svg g:nth-child(2) path {
  animation-delay: 0.5s;
  stroke-dasharray: 0px 158px;
  stroke-dashoffset: 1px;
}
svg path {
  stroke: url(#gradient);
  stroke-width: 20px;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 0 157px;
  stroke-dashoffset: 0;
  animation: escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@keyframes slide {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}
@keyframes escalade {
  0% {
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 156px 157px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 156px 157px;
    stroke-dashoffset: -156px;
  }
}

/* SVG end
